<header class="header bg-dark w-full h-20 px-4 sm:px-6 lg:px-8" id="header">
  <div class="header__container max-w-screen-2xl mx-auto  flex items-center justify-between gap-5 h-full">

    <div class="header__menu">
      <button
        (click)="ui.toggleMenu()"
        aria-label="Відкрити меню"
        class="w-14 h-14 flex items-center justify-center btn btn-outline"
        type="button">

        <svg class="text-white" fill="currentColor" height="100%" viewBox="0 0 100 80" width="100%"
             xmlns="http://www.w3.org/2000/svg">
          <rect height="10" rx="5" width="100"/>
          <rect height="10" rx="5" width="100" y="30"/>
          <rect height="10" rx="5" width="100" y="60"/>
        </svg>

      </button>
    </div>

    <div class="header__logo hidden sm:flex">
      <a class="flex items-center gap-2 text-neutral-200 hover:text-white duration-200  font-bold text-xl" href="/">
        <div class="w-9 h-9 relative">
          <img
            alt="Rozetka Logo"
            class="w-full h-full object-contain"
            fetchpriority="high"
            loading="eager"
            src="https://content1.rozetka.com.ua/mb_logo/image_site_mini_logo/original/555588633.svg">
        </div>
        <span class="tracking-wide text-white font-bold text-xl hidden xl:flex">GadgetHunt</span>
      </a>
    </div>

    <div class="header__catalog hidden lg:flex">
      <button
        (click)="ui.toggleCatalog()"
        aria-label="Каталог товарів"
        class="btn btn-outline flex items-center justify-between min-w-[150px] border border-white"
        type="button">

        <svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24">
          <rect height="6" rx="2" width="6" x="3" y="3"/>
          <rect height="6" rx="2" width="6" x="15" y="3"/>
          <rect height="6" rx="2" width="6" x="3" y="15"/>
          <rect height="6" rx="2" width="6" x="15" y="15"/>
        </svg>

        <span class="text-lg font-medium">{{ 'HEADER.CATALOG' | translate }}</span>
      </button>
    </div>

    <div class="header__search flex-1 min-w-0 max-w-[800px]">
      <app-search-bar></app-search-bar>
    </div>

    <ul class="header__actions-list flex items-center gap-1">
      <li class="header__actions-item hidden lg:flex">
        <app-lang-switcher></app-lang-switcher>
      </li>
      <li class="header__actions-item hidden md:flex">
        <app-auth-modal></app-auth-modal>
      </li>
      <li class="header__actions-item">
        <app-basket></app-basket>
      </li>
    </ul>

  </div>
</header>
