/* INTER - cyrillic subset */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/inter-v18-cyrillic-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/inter-v18-cyrillic-300.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/inter-v18-cyrillic-500.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/inter-v18-cyrillic-600.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/inter-v18-cyrillic-700.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

/* MONTSERRAT - cyrillic subset */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/montserrat-v29-cyrillic-300.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/montserrat-v29-cyrillic-500.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/montserrat-v29-cyrillic-600.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/montserrat-v29-cyrillic-700.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/montserrat-v29-cyrillic-800.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/montserrat-v29-cyrillic-900.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/montserrat-v29-cyrillic-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

