<div class="relative inline-block">
  <!-- Кнопка -->
  <button (click)="toggleDropdown()" aria-label="Language selection"
          class="pl-3 pr-4 h-12 rounded-lg text-lg flex items-center gap-2 btn btn-outline min-w-[3.5rem]">
    <img [alt]="currentLang()" [src]="getLangLabel(currentLang())" class="w-6 h-4 object-cover rounded-sm"/>
    <svg class="w-4 h-4 text-green-500" fill="currentColor" viewBox="0 0 20 20">
      <path clip-rule="evenodd"
            d="M16.707 5.293a1 1 0 010 1.414l-8.086 8.086a1 1 0 01-1.414 0L3.293 10.88a1 1 0 111.414-1.414l3.086 3.086 7.379-7.379a1 1 0 011.414 0z"
            fill-rule="evenodd"/>
    </svg>
  </button>

  <!-- Выпадающее меню -->
  <ul *ngIf="showDropdown()"
      class="absolute right-0 mt-1 bg-white text-black rounded-lg shadow-md py-1 z-10 min-w-[5.5rem]">
    <li (click)="switchLang(lang.code)"
        *ngFor="let lang of languages"
        class="px-3 py-2 flex items-center justify-between hover:bg-gray-200 cursor-pointer gap-2">
      <img [alt]="lang.name" [src]="lang.icon" class="w-6 h-4 object-cover rounded-sm"/>
      <svg *ngIf="lang.code === currentLang()" class="w-4 h-4 text-green-600" fill="currentColor" viewBox="0 0 20 20">
        <path clip-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8.086 8.086a1 1 0 01-1.414 0L3.293 10.88a1 1 0 111.414-1.414l3.086 3.086 7.379-7.379a1 1 0 011.414 0z"
              fill-rule="evenodd"/>
      </svg>
    </li>
  </ul>
</div>
